@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
	margin: 0;
	padding: 0;
	border: 0;
	outline:none;
	font-size: 100%;/*모든태그의 폰트크기를 body와 일치시킴*/
	font: inherit;
	vertical-align: top;/*a태그안에 img가 들어갈경우 a태그를 위로 올려서 아래쪽 간격을 없애줌*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;/*13px*1.5=19.5px, body에 지정된 폰트크기의 1.5배*/
	-webkit-text-size-adjust:none;
	
	/*아이폰 사파리모바일 가로모드시 글자크기 확대방지*/
}
body{ overflow-x:hidden; overflow-y:scroll;}
/*수평 스크롤바 사용금지, 수직 스크롤바 사용*/

ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {text-decoration:none;}
button {margin:0; padding:0; cursor:pointer;}

@font-face{
	 font-family:DaunPenh;
	 src:url(../daunpenh.ttf) format("truetype");
	 font-style:normal;
	 font-weight:normal;
	 }










