@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

@font-face{
	font-family:DaunPenh;
	src:url(../daunpenh.ttf) format('truetype');}




body{ font-family:Noto Serif KR; font-weight:300; min-width:320px;}
a{ color:#666;}

button{ border:none; outline:none; background:none;}
/*레이아웃*/
nav{ width:100%; height:150px;}

header{ width:100%; height:auto}

.celep{ width:100%; height:826px; padding-top:86px; box-sizing:border-box;}

.jeju_collect{ width:100%; height:332px; }
	.jeju{ width:100%; margin:0 auto; }
	
.recommend{ width:100%; height:730px;}

.collection{ width:100%; height:902px;}

footer{ width:100%; height:300px;}
 
 /*nav*/
 nav{ text-align:center;}
 	
	/*탑메뉴*/
	 .top_menu{ float:right; margin:10px 20px 0 0;}
	 .top_menu li{ float:left; margin-left:26px;}
	 .top_menu li a{ transition:all 0.3s;}
	 .top_menu li:hover a{ color:#ff3c6a;}
	/*로고*/ 
	 h1{ clear:both; margin-bottom:20px;}
	 
	 /*gnb*/
	 .gnb{ font-size:17pt; width:1160px; height:34px; margin:0 auto; }
	 .gnb li{ float:left; margin-left:100px;}
	 .gnb li:first-child{ margin-left:0;}
	 .gnb li a{ transition:all 0.3s;}
	 .gnb li:hover a{ color:#ff3c6a;}
	 .m-gnb, .black{ display:none;}
	 
/*header 슬라이드*/
.main{ clear:both;  width:100%;}
.main2{ display:none;}

	/*슬라이더 js추가 시 생성되는 공톤된 외부라이브러리의 클래스명으로 공동 내용은 넣어준다.*/
	/*세로 슬라이드시 들어간 1px의 보더가 있어 보더값을 없애줌.*/
	.main .visual_baner .slick-slide{ height:auto; border:none; position:relative;}
	
	/*max-width: 고정값이 아니며 최대크기를 지정, 점점 줄일 때 가운데 내용 정렬 유지하며 작아지고 커짐*/
	.main .visual_baner .slick-slide a{ display:block; height:auto; max-width:100%; margin:0 auto; outline:none;}
	
	/*슬라이더 페이지 버튼*/
	/*페이지버튼 개수가 달라질 수 있으므로 li 를 inline-block처리하여 가운데 정렬 시킴*/
	.main .visual_baner .slick-dots{ position:absolute; right:40px; bottom:30px; height:10px;}
	.main .visual_baner .slick-dots li{ height:10px; display:inline-block; margin-right:23px;}
	.main .visual_baner .slick-dots li:last-child{ margin-right:0;}
	.main .visual_baner .slick-dots button{ background:url(../img/btn.png) no-repeat; background-size:cover; width:14px; height:14px;
														text-indent:-9999px; margin-left:15px; outline:none; border:none;}
	
	/*클릭한 li에 slick-active가 걸리면 버튼의 배경 바꾸기*/
	.main .visual_baner .slick-dots li.slick-active button{ background:url(../img/btn_on.png) no-repeat; background-size:cover; }
	
	.main .visual_baner .slick-slide{ position:relative; width:100%; height:auto;}
	.main .visual_baner .slick-slide img{ display:block; width:100%; height:auto;}
	
	.visual1, .visual2, .visual3{ float:left;}
	
	.slick-next.slick-arrow{ width:30px; height:60px; background:url(../img/arrow_next2.png) no-repeat 50% 50%; position:absolute; z-index:100;
			background-size:100%; top:50%; right:30px; margin-top:-30px; transition:all 0.5s ease-out; text-indent:-9999px;}
			
	.slick-prev.slick-arrow{ width:30px; height:60px; background:url(../img/arrow_prev2.png) no-repeat 50% 50%; position:absolute; 
			background-size:100%; top:50%; left:30px; margin-top:-30px; transition:all 0.5s ease-out; text-indent:-9999px; z-index:100;}


/*첫번째 섹션*/
.celep>h2{ font-size:45pt; font-family:DaunPenh; text-align:center; font-weight:500; letter-spacing:5px; line-height:29px; margin-bottom:20px;}
.celep h2>span{ font-size:13pt; font-family:Noto Serif KR; font-weight:400;}

/*아티클 박스*/
.celep article{ width:950px; height:498px; border:2px solid #ddd; margin:0 auto; padding:31px 44px 32px 28px; box-sizing:border-box; position:relative;}
.celep article>img{ float:left; margin-right:56px;}
.celep article .c_text{ float:left; text-align:center; padding-top:20px; box-sizing:border-box;}
	.c_text>p{ font-size:13pt; font-weight:300; color:#666; margin-bottom:40px; line-height:30px;}
	.c_text .big{ font-size:20pt; letter-spacing:3px; margin-bottom:25px; color:#000;}
 	.c_text .big2{ font-size:15pt; letter-spacing:5px; font-weight:200; margin-bottom:20px; color:#000;}
	.c_text>hr{ width:450px; height:1px; background:#ccc; margin-bottom:29px;}
 	
	.c_text ul{ position:absolute; bottom:20px;}
	.c_text ul li{ float:left; margin-left:20px; }
	.c_text ul li:first-child{ margin-left:0;}
	.c_text ul li a{ color:#1c4baa; font-weight:500;}
	
	
/*두번째 섹션*/
.jeju_wrap{ height:330px; border:1px solid #ccc; border-left:none; border-right:none; overflow:hidden;}


.j_title{ width:20%; height:330px; background:url(../img/jeju_ban2.jpg) no-repeat; background-size:cover;  text-align:right; float:left;
		  padding-top:75px; box-sizing:border-box; position:relative;}
	.j_title .j_collection{ font-family:DaunPenh; font-size:2.6vw; letter-spacing:7px; margin-right:0.5%;}
	.j_title>hr{ width:80%; height:1px; background:#333; float:right; margin-bottom:15px;}
	.j_title p{ clear:both; font-size:1vw; margin-right:10px; letter-spacing:7px; width:100%; }
	
	.j_title .p_tag_title{ font-size:0.8vw; margin-top:30px; position:absolute; bottom:25px; color:#1c4baa; font-weight:300;}
	.j_title .p_tag{ font-size:0.7vw; letter-spacing:3px; position:absolute; bottom:5px; color:#1c4baa; font-weight:300;}


/*ul */
.j_ul{ width:80%; height:330px; float:left; padding-left:4.1666%; box-sizing:border-box;}
	.j_ul li{ float:left; width:16%; height:100%; text-align:center; position:relative; transform-origin:center; box-sizing:border-box; margin-right:2.6%;}
	.j_ul li:last-child{ margin-right:0;}
	.j_ul li a img{ transition:all 0.5s; transform-origin:center; width:100%;}
	.j_ul li:hover img{ transform:scale(1.1);}
	
.j_ul li a .text_box{ width:100%; position:absolute; bottom:30px; font-size:0.9vw;}
.cost{ color:#c40001;}
.cost span{ text-decoration:line-through; color:#666;}	
	
	
	
/*개별 크기 조정*/
.j_ul li:nth-child(1){ padding-top:3%;}
	.j_ul li:nth-child(1) img{ width:90%; }
	
	.j_ul li:nth-child(2){ padding-top:3%; }
	.j_ul li:nth-child(2) img{ width:100%;}
	
	.j_ul li:nth-child(3){ padding-top:4%;}
	.j_ul li:nth-child(3) img{ width:100%;}
	
	.j_ul li:nth-child(4){ }
	.j_ul li:nth-child(4) a img{ width:70%;}
	
	.j_ul li:nth-child(5){ }
	.j_ul li:nth-child(5) img{ width:45%;}
	
/*세번째 섹션*/
.recommend{ box-sizing:border-box; position:relative; padding-top:140px;}
.recommend h2{  font-size:45pt; font-family:DaunPenh; text-align:center; font-weight:500; letter-spacing:5px; margin-bottom:0px; line-height:70px; margin:20px 0 0px 0;}
.recommend>hr{ background:#666; width:340px; height:1px; margin:0 auto; }
.recommend .bot{ margin-bottom:90px;}

.R_box article{ float:left; margin-right:30px; text-align:right;}

.R_box .visual .slick-slide .i_box_wrap{ width:100%; position:relative;}
.R_box .visual .slick-slide .i_box{ position:absolute; width:80%; height:74%; padding:10%; position:absolute; top:0; left:0;}

.v_box{ transform:rotateY(180deg); transition:all 01s; backface-visibility:hidden; border:1px solid #fff; width:100%; height:100%; display:table; }
		  
.v_box p{ color:#fff !important; font-size:30px !important; text-align:center; display:table-cell; vertical-align:middle; opacity:0; transform:rotateY(180deg); 
			backface-visibility:hidden; transition-property:opacity, transform; transition-duration:3s, 1s; }
			
.R_box article:hover .v_box{ transform:rotateY(0deg); }
.R_box article:hover .v_box p{ opacity:1; transform:rotateY(0deg); }

.R_box article .i_box{}

/*.R_box 슬라이드*/
.R_box{ width:80%; margin:0 auto;}
	

	/*max-width: 고정값이 아니며 최대크기를 지정, 점점 줄일 때 가운데 내용 정렬 유지하며 작아지고 커짐*/
	.R_box .visual .slick-slide a{ display:block; height:auto; max-width:1920px; margin:0 auto; outline:none;}
	
	.R_box .visual .slick-slide{ position:relative; width:100%; height:auto;}

	.R_box .visual .slick-slide img{ display:block; width:100%; height:auto; margin-bottom:30px;}
	
	
	
	.visual1, .visual2, .visual3, .visual4, .visual5, .visual6, .visual7, .visual8{ float:left;}
	
	.R_box article a hr{ width:90%; height:1px; background:#d0d0d0; float:right; margin-top:10px; margin-bottom:10px;}
	.R_box article p{ font-size:1vw; color:#383838; clear:both; letter-spacing:3px;}



	/*양옆 버튼*/
	.R_box .visual .slick-next.slick-arrow{ width:15px; height:30px; background:url(../img/arrow_next2.png) no-repeat 50% 50%; position:absolute; z-index:100;
			background-size:100%; top:50%; right:-80px; margin-top:-25px; transition:all 0.5s ease-out; text-indent:-9999px;}
			
	.R_box .visual .slick-prev.slick-arrow{ width:15px; height:30px; background:url(../img/arrow_prev2.png) no-repeat 50% 50%; background-size:100%; position:absolute; 
			background-size:100%; top:50%; left:-80px; margin-top:-25px; transition:all 0.5s ease-out; text-indent:-9999px; z-index:100;}




/*네번째 섹션*/

.collection{ padding-top:120px; box-sizing:border-box; position:relative;}
.collection h2{ font-size:45pt; font-family:DaunPenh; text-align:center; font-weight:500; letter-spacing:5px; margin-bottom:10px;}
.coll_img2{ display:none;}
.black2{ display:none;}
.collect_box{ width:1426px; height:547px; margin:0 auto;}

.collect_box article{ width:334px; height:547px; float:left; text-align:right; position:relative; overflow:hidden; margin-right:2.103%;}
.collect_box article:nth-child(4){ margin-right:0;}

.collect_box article a{ display:block; height:100%;}
.collect_box article>img{ width:99%; height:auto; text-align:center;}


.collect_text{ background:rgba(0,0,0,0.3); width:100%; height:133px; transform:translateY(133px);
				 padding-top:15px; padding-right:2.99%; box-sizing:border-box; transition:all 1s;}
.collect_text a{ color:#fff;}
.collect_text p{ font-size:10pt; color:#fff; font-weight:200;}
.collect_text .name{ font-size:13.5pt; margin-bottom:18px;}

.collect_box article.on .collect_text{ transform:translateY(-133px);}
.col_bar{ display:none;}

/*다섯번째 섹션*/
.sns{ width:100%; height:700px;}
.sns .sns_h2{ width:856.3px; margin:0 auto; margin-bottom:10px;}
.sns .sns_h2>img{ width:100%;}
#insta_2{ display:none;}

.sns article{ width:500px; height:200px; margin:0 auto; margin-bottom:30px; clear:both;}
.sns article>img{ float:left; width:100px; margin-right:50px; }
.sns .sns_text{ float:left; line-height:2}
.sns .sns_text .sns_name{ font-size:20pt;}
.sns .sns_text .sns_follow{ font-size:10pt; float:left; margin-right:30px; margin-bottom:5px;} 
.sns .sns_text .info{ clear:left;}
.sns .sns_text p{ font-size:11pt;}
.sns .sns_text a{color:#06C;}

.sns ul{ margin:0 auto; clear:both;}
.sns ul li{ width:15.785%; float:left; margin-right:1.04666%; margin-bottom:30px;}
.sns ul li:nth-child(6){ margin-right:0;}
.sns ul li a{ display:block; width:100%; height:100%; }
.sns ul li a img{ width:100%;}





/*footer*/
footer{}
footer .gnb2{ width:100%; background:#f2f2f2; }
footer .m-gnb2{ display:none;}
footer ul{ width:990px; height:40px; margin:0 auto; padding-top:7px; box-sizing:border-box; margin-bottom:30px;}
footer ul li{ float:left; margin-right:45px;}
footer ul li:last-child{ margin-right:0;}

.f_box{ width:1032px; height:160px; margin:0 auto; position:relative; padding-left:23px;}
footer .f_box article{ margin-right:50px; float:left; position:relative; font-size:10pt;}
footer .f_box article:last-child{ margin-right:0;}
.f_box>img{ position:absolute; top:25px; left:-45px;}
.f_box article .call{ font-size:13pt; font-weight:700; }
.f_box strong{ display:block; font-weight:500; font-size:11pt; margin-bottom:5px;}

.arti_5{ display:none;}

.f_copy{ width:990px; height:60px; margin:0 auto; position:relative;}
.f_copy>hr{ width:100%; height:1px; margin:0 auto; background:#ccc;}
.f_copy>p{ float:left; font-size:9pt; position:absolute; top:50%; margin-top:-8px; }
.f_copy>img{ float:right; position:absolute; top:50%; right:10px; margin-top:-20px;}

@media (max-width:1440px){
	/*섹션2*/
	
		/*섹션2*/
	.j_title{ padding-right:0.6%; box-sizing:border-box;}
	.j_title .j_collection{ font-size:3.4vw; letter-spacing:9px; line-height:37px; color:#000;}
	.j_title>hr{ width:80%; margin-bottom:15px;}
	.j_title p{ font-size:1.3vw; margin-right:10px; letter-spacing:7px; width:100%; line-height:34px; color:#333; }
	
	.j_title .p_tag_title{ display:none;}
	.j_title .p_tag{ display:none;}
	.j_ul li:nth-child(1){ padding-top:7%;}
	.j_ul li:nth-child(1) img{ width:100%; }
	
	.j_ul li:nth-child(2){ padding-top:7%; }
	.j_ul li:nth-child(2) img{ transform:scale(1.2)}
	
	.j_ul li:nth-child(3){ padding-top:7%;}
	.j_ul li:nth-child(3) img{ transform:scale(1.2)}
	
	.j_ul li:nth-child(4){ }
	.j_ul li:nth-child(4) a img{ width:90%;}
	
	.j_ul li:nth-child(5){ }
	.j_ul li:nth-child(5) img{ width:55%;}
	
	.j_ul li:nth-child(2) img:hover,
	.j_ul li:nth-child(3) img:hover
	{ transform:scale(1.3)}
	.j_ul li a .text_box{ width:100%; position:absolute; bottom:30px; font-size:1vw;}
	
	/*섹션3*/
	.R_box{ width:90%;}
	.R_box article p{ font-size:12pt; color:#383838; clear:both; letter-spacing:3px;}
	
	/*섹션4*/
	collection{ padding-top:120px; box-sizing:border-box; position:relative;}
	.collection h2{ font-size:45pt; font-family:DaunPenh; text-align:center; font-weight:500; letter-spacing:5px; margin-bottom:10px;}
	
	.collect_box{ width:95%; height:547px; margin:0 auto;}

	.collect_box article{ width:23.89%; height:547px; float:left; text-align:right; position:relative; overflow:hidden; margin-right:1.48%;}
	.collect_box article:nth-child(4){ margin-right:0;}
	
	.collect_box article a{ display:block; height:100%;}
	.collect_box article a img{ }
	
	/*섹션5*/
	.sns ul li:nth-child(6){ display:none;}
	.sns ul li:nth-child(5){ margin-right:0;}
	.sns ul li{ width:19.15%; float:left; margin-right:1.047%; margin-bottom:30px;}
	}
	
@media (max-width:1331px){
	/*섹션2*/
	.j_title{ padding-right:0.6%; box-sizing:border-box;}
	.j_title .j_collection{ font-size:3.4vw; letter-spacing:9px; line-height:37px; color:#000;}
	.j_title>hr{ width:80%; margin-bottom:15px;}
	.j_title p{ font-size:1.3vw; margin-right:10px; letter-spacing:7px; width:100%; line-height:34px; color:#333; }
	
	.j_title .p_tag_title{ display:none;}
	.j_title .p_tag{ display:none;}
	
	
	.j_ul{ padding-left:3%;}
	.j_ul li{ width:17.6%;}

	.j_ul li:nth-child(1){ padding-top:7%;}
	.j_ul li:nth-child(1) img{ width:100%; }
	
	.j_ul li:nth-child(2){ padding-top:7%; }
	.j_ul li:nth-child(2) img{ transform:scale(1.2)}
	
	.j_ul li:nth-child(3){ padding-top:7%;}
	.j_ul li:nth-child(3) img{ transform:scale(1.2)}
	
	.j_ul li:nth-child(4){ }
	.j_ul li:nth-child(4) a img{ width:90%;}
	
	.j_ul li:nth-child(5){ }
	.j_ul li:nth-child(5) img{ width:55%;}
	
	.j_ul li:nth-child(2) img:hover,
	.j_ul li:nth-child(3) img:hover{ transform:scale(1.3)}
	.j_ul li a .text_box{ width:100%; position:absolute; bottom:20px; font-size:1.1vw;}
	
	/*섹션4*/
	.collection{ width:100%; height:802px;}
	.collect_box{ width:94%; height:460px; margin:0 auto;}

	.collect_box article{ width:23%; height:100%; margin-right:1.4%;}
	.collect_box article:nth-child(1){ margin-left:2.8%;}
	.collect_box article a img{ transform:scale(0.85) translateY(0px); transform-origin:left top;}
	
	.collect_box article.on .collect_text{ transform:translateY(-221px);}
	
	
	
	
	}


@media (max-width:1176px){
	
	/*nav*/
	nav{ width:100%; height:145px;}
	 /*gnb*/
	 .gnb{ font-size:15pt; width:800px; margin:0 auto; }
	 .gnb li{ float:left; margin-left:50px;}
	 .gnb li:first-child{ margin-left:0;}
	 .gnb li a{ transition:all 0.3s;}
	 .gnb li:hover a{ color:#ff3c6a;}
	 
	 
/*첫번째 섹션*/
.celep>h2{ font-size:45pt; font-family:DaunPenh; text-align:center; font-weight:500; letter-spacing:5px; line-height:29px; margin-bottom:20px;}
.celep h2>span{ font-size:13pt; font-family:Noto Serif KR; font-weight:400;}

/*아티클 박스*/
.celep article{ width:900px; height:468px; border:2px solid #ddd; margin:0 auto; padding:31px 44px 32px 28px; box-sizing:border-box; position:relative;}
.celep article>img{ transform:scale(0.9); transform-origin:left top; float:left; margin-right:36px;}

.celep article .c_text{ width:400px; float:left; text-align:center; padding-top:20px; box-sizing:border-box;}
	.c_text>p{ font-size:13pt; font-weight:300; color:#666; margin-bottom:30px; line-height:30px;}
	.c_text .big{ font-size:19pt; letter-spacing:3px; margin-bottom:25px; color:#000;}
 	.c_text .big2{ font-size:14pt; letter-spacing:5px; font-weight:200; margin-bottom:20px; color:#000;}
	.c_text>hr{ width:400px; height:1px; background:#ccc; margin-bottom:29px;}
 	
	.c_text ul{ width:100%; position:absolute; bottom:35px; font-size:15px; }
	.c_text ul li{ float:left; margin-left:10px; }
	.c_text ul li:first-child{ margin-left:0;}
	.c_text ul li a{ color:#1c4baa; font-weight:500;}

/*두번째 섹션*/
.jeju_collect{ width:100%; height:auto;  background:url(../img/jeju_ban2.jpg) no-repeat top center; background-size:cover;}
	.jeju{ width:100%; margin:0 auto; }
	
.jeju_wrap{ height:100%; border-left:none; border-right:none; overflow:hidden; padding-top:50px;}
.jeju{ position:relative; height:auto;}

.j_title{ width:100%; height:130px; background:none;  text-align:center; float:none;
		  box-sizing:border-box; position:relative; padding-top:0; }
	.j_title .j_collection{ font-family:DaunPenh; font-size:40pt; letter-spacing:7px; margin-right:0; line-height:0.9; }
	.j_title>hr{ width:80%; height:1px; background:#333; float:none; margin:0 auto; margin-bottom:9px;}
	.j_title p{ clear:both; font-size:12pt; line-height:normal; margin-right:0; letter-spacing:7px; width:100%; }
	


/*ul */
.j_ul{ width:800px; height:350px; float:none; padding-left:0; box-sizing:border-box; margin:0 auto;}
	.j_ul li{ float:left; width:350px; height:350px; text-align:center; position:relative; transform-origin:center; box-sizing:border-box; 
			 margin-right:100px; margin-bottom:80px; background:rgba(255,255,255,0.7); overflow:hidden; border-radius:100%;}
	
	.j_ul li:nth-child(1){  }
	.j_ul li:nth-child(2){ margin-right:0;}
	.j_ul li:nth-child(3){ clear:both }
	.j_ul li:nth-child(4){ margin:0;}
	.j_ul li:nth-child(5){ clear:both }
	
	
	.j_ul li a img{ transition:all 0.5s; transform-origin:center; width:100%; opacity:0.8; margin-bottom:30px;}
	.j_ul li:hover img{opacity:1;}
	
.j_ul li a .text_box{ width:100%; bottom:30px; font-size:14px;}
.cost{ color:#c40001;}
.cost span{ text-decoration:line-through; color:#666;}	
	
	
/*개별 크기 조정*/
.j_ul li:nth-child(1){ padding-top:7%;}
	.j_ul li:nth-child(1) img{ width:70%; }
	
	.j_ul li:nth-child(2){ padding-top:10%; }
	.j_ul li:nth-child(2) img{ width:70%;}
	
	.j_ul li:nth-child(3){ padding-top:10%;}
	.j_ul li:nth-child(3) img{ width:80%;}
	
	.j_ul li:nth-child(4){  }
	.j_ul li:nth-child(4) a img{ width:55%;}
	
	.j_ul li:nth-child(5){ }
	.j_ul li:nth-child(5) img{ width:34%;}
	
/*세번째 섹션*/
.recommend .bot{ margin-bottom:50px;}

/*네번째 섹션*/

	.collection{ width:100%; height:950px; padding-top:150px;}
	.collect_box{ width:94%; height:auto; margin:0 auto;}

	.collect_box article{ width:24%; height:100%; margin-right:1.33%;}
	.collect_box article:nth-child(1){ margin-left:0;}
	.collect_box article a img{ width:100%; transform: translateY(0px); transform-origin:left top;}
	
	.collect_box article.on .collect_text{ transform:none;}
	
	
	.collect_text{ background:none; width:100%; height:133px; margin-top:10px; text-align:center;
					 padding-top:0; padding-right:0; box-sizing:border-box; transform:none;}
	.collect_text a{ color:#000;}
	.collect_text p{ font-size:9pt; color:#000; font-weight:200;}
	.collect_text .name{ font-size:11pt; margin-bottom:0;}
	
	.col_bar{ display:block; width:0; height:1px; background:#000; margin:8px auto 8px auto; transition:all 0.5s; }
	.collect_box article:hover .col_bar{ width:90%;}




/*다섯번째 섹션*/
.sns article{ width:440px;}
.sns .sns_text{ float:left; line-height:2}
.sns .sns_text .sns_name{ font-size:15pt;}
.sns .sns_text .sns_follow{ font-size:10pt; float:left; margin-right:30px; margin-bottom:5px;} 
.sns .sns_text .info{ clear:left;}
.sns .sns_text p{ font-size:9pt;}
.sns .sns_text a{color:#06C;  font-size:9pt;}

/*풋터*/
.f_box>img{ display:none;}
	
	
	}


@media (max-width:1025px){


	/*섹션4*/
	.collect_box article:nth-child(1) .collect_text br,
	.collect_box article:nth-child(3) .collect_text br{ display:none;}

	/*다섯번째 섹션*/	
	.sns article{ width:500px; height:200px; margin:0 auto; margin-bottom:30px;}
	.sns article>img{ float:left; width:100px; margin-right:50px; }
	.sns .sns_text{ float:left; line-height:2}
	.sns .sns_text .sns_name{ font-size:20pt;}
	.sns .sns_text .sns_follow{ font-size:10pt; float:left; margin-right:30px; margin-bottom:5px;} 
	.sns .sns_text .info{ clear:left;}
	.sns .sns_text p{ font-size:11pt;}
	.sns .sns_text a{color:#06C;}
	
	.sns{ position:relative; height:1050px}
	.sns ul{ margin:0 auto; clear:both; position:absolute; left:3.5%;}
	.sns ul li{ width:30%; float:left; margin-right:3%; margin-bottom:30px;}
	.sns ul li:nth-child(6){ margin-right:0;}
	.sns ul li:nth-child(5){ margin-right:3%;}
	.sns ul li a{ display:block; width:100%; height:100%; }
	.sns ul li a img{ width:100%;}
	.sns ul li:nth-child(6){ display:block;}
	
	/*footer*/
	 footer .gnb2{ width:100%; background:#f2f2f2; }
	footer ul{ width:100%; height:40px; margin:0 auto; padding-top:7px; padding-left:14%; box-sizing:border-box; margin-bottom:30px; font-size:11pt;}
	footer ul li{ margin-right:2.34%;}
	
	.f_box{ width:761px; height:160px; padding-left:10%;}
	.f_box article{ margin-right:1.5625%; font-size:9pt;}
	.f_box .arti_3{ margin-right:0;}
	.f_box .arti_4{ display:none;}
	
	.f_copy{ width:90%; height:60px; margin:0 auto; position:relative;}
	.f_copy>hr{ width:100%; height:1px; margin:0 auto; background:#ccc;}
	.f_copy>p{ float:left; font-size:9pt; position:absolute; top:50%; margin-top:-8px; }
	.f_copy>img{ float:right; position:absolute; top:50%; right:10px; margin-top:-20px;}
		}


@media (max-width:926px){
	 /*nav*/
	 nav{ height:110px;}
	 .top_menu{ margin:10px 20px 0 0; font-size:11pt;}
	 .top_menu li{ margin-left:20px;}
	 
	 nav h1{ margin-bottom:5px;}
	 nav h1>img{ width:140px;}
	
	/*헤더 슬라이드*/
	.slick-next.slick-arrow{ width:15px; height:30px; margin-top:-15px;}
			
	.slick-prev.slick-arrow{ width:15px; height:30px; margin-top:-15px;}

	
	
	/*gnb*/
	 .gnb{ font-size:14pt; width:646px; height:34px; margin:0 auto; }
	 .gnb li{ float:left; margin-left:30px;}
	 .gnb li:first-child{ margin-left:0;}
	 .gnb li a{ transition:all 0.3s;}
	 .gnb li:hover a{ color:#ff3c6a;}
	 
	 /*첫번째 섹션*/
	.celep{ height:700px;}
	.celep>h2{ font-size:40pt; font-family:DaunPenh; text-align:center; font-weight:500; letter-spacing:5px; line-height:29px; margin-bottom:20px;}
	.celep h2>span{ font-size:13pt; font-family:Noto Serif KR; font-weight:400;}
	
	/*아티클 박스*/
	.celep article{ width:700px; height:380px; padding:28px 44px 28px 28px;}
	.celep article>img{ transform:scale(1); margin-right:36px; width:270px;}

		
	.celep article .c_text{ width:318px; padding-top:0px;}
		.c_text>p{ font-size:11.5pt; font-weight:300; margin-bottom:30px; line-height:normal;}
		.c_text .big{ font-size:16pt; letter-spacing:1px;}
		.c_text .big2{ font-size:13pt; letter-spacing:2px; font-weight:300;}
		.c_text>hr{ width:300px; margin:0 auto; height:1px; background:#ccc; margin-bottom:29px;}
		
		.c_text ul{ width:100%; position:absolute; bottom:35px; font-size:12.5px; }
		.c_text ul li{ float:left; margin-left:10px; }
		.c_text ul li:first-child{ margin-left:0;}
		.c_text ul li a{ color:#1c4baa; font-weight:500;}
	
	/*두번째 섹션*/
	.j_ul li a .text_box{font-size:15px;}

	/*세번째 섹션*/
	.R_box article p{ font-size:12pt;}
	
	
	/*네번째 섹션*/
	.collection{ width:100%; height:1550px; padding-top:150px;}
	.collect_box{ width:70%; height:auto; margin:0 auto;}
	
	.collect_box article{ width:48%; height:100%; margin-right:4%;}
	.collect_box article:nth-child(2){ margin-right:0;}
	.collect_box article:nth-child(3){ clear:both;}
	
	.collect_box article:nth-child(1) .collect_text br,
	.collect_box article:nth-child(3) .collect_text br{ display:block;}
	
	.collect_text{ height:200px; }
	.collect_text p{ font-size:11pt; }
	.collect_text .name{ font-size:13pt; margin-bottom:0;}
	
	
	/*풋터*/
	footer ul{ width:669px; margin:0 auto; padding-left:0;}
	.f_box{ padding-top:20px; padding-left:0; width:644px;}
	.f_box article .call{ font-size:11pt; font-weight:700; line-height:10px; margin-bottom:3px; }
	.f_box strong{ font-size:10pt; margin-bottom:3px;}
	.f_box p{ font-size:9pt;}
	.f_copy{ width:720px;}
	
	
	}



@media (max-width:844px){
	/*nav*/
 	nav{ height:70px; padding-top:18px; box-sizing:border-box; border-bottom:3px solid rgba(255,155,139,0.4); }
 	
	/*탑메뉴*/
	 .top_menu{ display:none;}

	/*로고*/ 
	 h1{ float:left; margin-left:50px;}
	 
	 .gnb{ display:none;}
	 
	/*모바일용 gnb*/
	.m-gnb{ width:100%; display:block; position:absolute; z-index:300; top:65px; border-bottom:1px solid #ff738b;}
	.m-gnb>li{ width:100%; height:70px; background:rgba(255,255,255,0.9); font-size:15pt; line-height:70px;}
	.m-gnb>li:nth-child(1){ border-top:3px solid rgba(255,155,139,0.4);  }
	.m-gnb>li>a{ display:block; width:100%; height:100%; color:#000; transition:all 1s;}
	.m-gnb>li:hover>a{ color:#F00; background:rgba(255,155,139,0.4);}
	 .black.on{ display:block; width:100%; height:2000px; background:rgba(0,0,0,0.3); position:fixed; top:70px; left:0; z-index:200;}
	 /*햄버거 메뉴*/	
	.btn_menu{ position:absolute; top:15px; right:5%; background:none; outline:none; display:block;}
	.btn_menu span{ background:#ff738b; display:block; width:30px; height:5px; margin:5px 0; border-radius:100px; transition:all 0.3s;}
	
	/*탑라인 기울이고 맞추기*/
	.btn_menu .top_line{ transform-origin:left center;}
	.btn_menu.color span{ background:#000;}
	.btn_menu.on .top_line{ transform:rotate(46deg) translate(4px,-4px);}
	
	/*중간라인 사라지기*/
	.btn_menu.on .middle_line{ opacity:0;}
	
	/*바텀라인 기울고 줄간 맞추기*/
	.btn_menu .bottom_line{ transform-origin:left center;}
	.btn_menu.on .bottom_line{ transform:rotate(-46deg) translate(3px,5px);}
	 
	
	/*두번째 섹션*/
	.j_ul{ width:720px; height:330px;}
		.j_ul li{ width:330px; height:330px; margin-right:60px; margin-bottom:60px;}
		.j_ul li a .text_box{ font-size:16px;}
		
	/*개별 크기 조정*/

	.j_ul li:nth-child(4){  }
	.j_ul li:nth-child(4) a img{ width:53%;}
	
	.j_ul li:nth-child(5){ }
	.j_ul li:nth-child(5) img{ width:32%;}
	

	/*네번째 섹션*/
	.collection{ padding-top:80px; box-sizing:border-box; height:1470px;}
	

	/*다섯번째 섹션*/
	.sns{ height:982px;}
	.sns .sns_h2{ width:700px; margin:0 auto; margin-bottom:10px;}
	.sns .sns_h2>img{ width:100%;}
	
	}

@media (max-width:740px){
	
.main{ display:none;}
.main2{ display:block; clear:both; width:100%;}

	/*슬라이더 js추가 시 생성되는 공톤된 외부라이브러리의 클래스명으로 공동 내용은 넣어준다.*/
	/*세로 슬라이드시 들어간 1px의 보더가 있어 보더값을 없애줌.*/
	.main2 .visual_baner2 .slick-slide{ height:auto; border:none; position:relative;}
	
	/*max-width: 고정값이 아니며 최대크기를 지정, 점점 줄일 때 가운데 내용 정렬 유지하며 작아지고 커짐*/
	.main2 .visual_baner2 .slick-slide a{ display:block; height:auto; max-width:740px; margin:0 auto; outline:none;}
	
	/*슬라이더 페이지 버튼*/
	/*페이지버튼 개수가 달라질 수 있으므로 li 를 inline-block처리하여 가운데 정렬 시킴*/
	.main2 .visual_baner2 .slick-dots{ position:absolute; right:40px; bottom:30px; height:10px;}
	.main2 .visual_baner2 .slick-dots li{ height:10px; display:inline-block; margin-right:23px;}
	.main2 .visual_baner2 .slick-dots li:last-child{ margin-right:0;}
	.main2 .visual_baner2 .slick-dots button{ background:url(../img/btn.png) no-repeat; background-size:cover; width:10px; height:10px;
														text-indent:-9999px; margin-left:2%; outline:none; border:none;}
	
	/*클릭한 li에 slick-active가 걸리면 버튼의 배경 바꾸기*/
	.main2 .visual_baner2 .slick-dots li.slick-active button{ background:url(../img/btn_on.png) no-repeat; background-size:cover; }
	
	.main2 .visual_baner2 .slick-slide{ position:relative; width:100%; height:auto;}
	.main2 .visual_baner2 .slick-slide img{ display:block; width:100%; height:auto;}
	
	.visual1, .visual2, .visual3{ float:left;}
	


	
	
	/*첫번째 섹션*/
/*아티클 박스*/
.celep{ height:1100px;}
.celep article{ width:100%; height:700px; border:none; margin:0 auto; padding:31px 0 32px 0; box-sizing:border-box; position:relative; display:table;}
.celep article>img{ float:none; width:340px; height:402px; margin:0 auto 60px auto !important; display:table-cell;}

.celep article .c_text{ float:none; padding-top:0; margin:0 auto; width:80%; height:374px;}
	.c_text>p{ font-size:13pt; font-weight:300; color:#666; margin-bottom:40px; line-height:30px;}
	.c_text .big{ font-size:20pt; letter-spacing:3px; margin-bottom:25px; color:#000;}
 	.c_text .big2{ font-size:15pt; letter-spacing:5px; font-weight:200; margin-bottom:20px; color:#000;}
	.c_text>hr{ width:450px; height:1px; background:#ccc; margin-bottom:29px;}
 	
	.c_text ul{ position:relative; height:30px; width:400px; margin:0 auto;}
	.c_text ul li{ float:left; margin-left:20px; }
	.c_text ul li:first-child{ margin-left:0;}
	.c_text ul li a{ color:#1c4baa; font-weight:500;}
	
	
	/*두번째 섹션*/
	.j_ul{ width:620px; height:280px;}
		.j_ul li{ width:280px; height:280px; margin-right:60px; margin-bottom:50px;}
		.j_ul li a .text_box{ font-size:14px; bottom:15px;}
	
	.j_title{ margin-bottom:30px; margin-top:30px; color:#fff;}
	.j_title p{ clear:both; font-size:15pt; font-weight:400; }

	/*개별 크기 조정*/
	.j_ul li:nth-child(1) img{ width:80%; }
	
	.j_ul li:nth-child(2) img{ width:80%;}
	
	.j_ul li:nth-child(3) img{ width:80%;}
	
	.j_ul li:nth-child(4) a img{ width:54%;}
	
	.j_ul li:nth-child(5) img{ width:33%;}
	
		/*세번째 섹션*/
	.R_box article p{ font-size:13pt;}
	
	/*네번째 섹션*/
	.collect_box{ width:80%;}
	
	.collect_text{ height:200px; }
	.collect_text p{ font-size:10pt; }
	.collect_text .name{ font-size:12pt; margin-bottom:0;}

	
	/*다섯번째 섹션*/
	.sns{ width:100%; height:870px;}
	.sns .sns_h2{ width:600px; margin:0 auto; margin-bottom:10px;}
	.sns .sns_h2>img{ width:100%;}
	
	
	/*footer*/
	footer{ height:380px;}
	footer .gnb2{ display:none;}
	footer .m-gnb2{ display:block; width:100%; background:#f2f2f2; }
		footer .m-gnb2 ul{ width:500px; margin:0 auto;}
		footer .m-gnb2 ul li{ margin-right:30px; font-size:13pt; }
		footer .m-gnb2 ul li:last-child{ margin-right:0;}
	
	.f_box{ width:538px;}
		.f_box article p{ font-size:11pt;}
		.f_box article{ box-sizing:border-box;}
		.f_box .arti_1{ border-right:1px solid #ccc; margin:0; padding-left:4%; padding-right:4%;}
		.f_box .arti_2{ padding-left:4%;}
		.f_box .arti_3, .f_box .arti_4{ display:none;}
		.f_box .arti_5{ display:block; margin-top:30px; padding-left:4%; }
		.f_box .arti_5 p{ font-size:9pt;}
		.f_copy2{ margin-top:20px;}
		.f_logo{ width:150px;}
		
	.f_box strong{ font-size:13pt; margin-bottom:5px; color:#ff6072;}
	.f_copy{ display:none;}
	
	
	
	}
	
	
@media (max-width:640px){

	/*두번째 섹션*/
	.j_ul{ width:530px; height:250px;}
		.j_ul li{ width:250px; height:250px; margin-right:30px; margin-bottom:60px;}
		.j_ul li a .text_box{ font-size:14px;}
		
	/*개별 크기 조정*/

	.j_ul li:nth-child(4) a img{ position:absolute; top:-100px; left:50%; margin-left:-35%; width:80%;}
	
	.j_ul li:nth-child(5) img{ width:32%;}
	
	/*네번째 섹션*/
	.collect_box{ width:90%;}
	
	/*다섯번째 섹션*/
	.sns{ width:100%; height:870px;}
	.sns .sns_h2{ width:560px; margin:0 auto; margin-bottom:10px;}
	.sns .sns_h2>img{ width:100%;}

	}	

@media (max-width:549px){
/*첫번째 섹션*/
	.celep{ height:1100px;}
	.celep article{ width:100%; height:700px; border:none; margin:0 auto; padding:31px 0 32px 0; box-sizing:border-box; position:relative; display:table;}
	.celep article>img{ float:none; width:340px; height:402px; margin:0 auto 60px auto !important; display:table-cell;}
	
	.celep article .c_text{ float:none; padding-top:0; margin:0 auto; width:80%; height:374px;}
		.c_text>p{ font-size:3vw; font-weight:300; color:#666; margin-bottom:40px; line-height:30px;}
		.c_text .big{ font-size:4.3vw; letter-spacing:3px; margin-bottom:25px; color:#000;}
		.c_text .big2{ font-size:3.7vw; letter-spacing:4px; font-weight:200; margin-bottom:20px; color:#000;}
		.c_text>hr{ width:90%; height:1px; background:#ccc; margin-bottom:29px;}
		
		.c_text ul{ position:relative; height:30px; width:407px; margin:0 auto;}
		.c_text ul li{ float:left; margin-left:20px; }
		.c_text ul li:first-child{ margin-left:0;}
		.c_text ul li a{ color:#1c4baa; font-weight:500; font-size:2.5vw;}
	
	/*두번째 섹션*/
	.j_title{ margin-bottom:80px;}
	.j_ul{ width:350px;}
		.j_ul li{ width:350px; height:350px; margin-right:30px; margin-bottom:60px !important;}
		.j_ul li a .text_box{ font-size:17px; bottom:30px;}
		
	/*개별 크기 조정*/
	.j_ul li:nth-child(1){ padding-top:9%;}
	.j_ul li:nth-child(1) a img{ width:90%; }
	
	.j_ul li:nth-child(2){ padding-top:22%; }
	.j_ul li:nth-child(2) a img{ width:78%;}
	
	.j_ul li:nth-child(3){ padding-top:22%;}
	.j_ul li:nth-child(3) a img{ width:78%;}
	
	.j_ul li:nth-child(4) a img{ position:absolute; top:-100px; left:50%; margin-left:-35%; width:74%;}
	
	.j_ul li:nth-child(5) a img{ width:32%;}

/*3번째 섹션*/
.R_box{ width:63%; margin:0 auto;}


	/*네번째 섹션*/
	.collection{  padding-top:150px;}
	.collect_box{ width:90%;}
	.collect_text{ height:180px; }
	.collect_text p{ font-size:9pt; }
	.collect_text .name{ font-size:11pt; margin-bottom:0;}

/*다섯번째 섹션*/

	.sns .sns_h2{ width:100%; margin:0 auto; margin-bottom:10px;}
	#insta_1{ display:none;}
	#insta_2{ display:block;}
	
	.sns .sns_h2>img{ width:100%;}
	
	.sns article{ width:406px; height:163px; margin:0 auto; margin-bottom:30px; clear:both;}
	.sns article>img{ float:left; width:80px; margin-right:6%; }
	
	
	.sns .sns_text{ float:left; line-height:2}
	.sns .sns_text .sns_name{ font-size:15pt;}
	.sns .sns_text .sns_follow{ font-size:10pt; float:left; margin-right:30px; margin-bottom:5px;} 
	.sns .sns_text .info{ clear:left;}
	.sns .sns_text p{ font-size:9pt;}
	.sns .sns_text a{color:#06C;  font-size:9pt;}
	
	.sns ul{ margin:0 auto; clear:both;}
	.sns ul li{ width:47%; float:left; margin-right:3%; margin-bottom:13px;}
	.sns ul li:nth-child(5){ display:none;}
	.sns ul li:nth-child(6){ display:none;}
	.sns ul li a{ display:block; width:100%; height:100%; }
	.sns ul li a img{ width:100%;}
	
/*풋터*/
footer .m-gnb2{ padding-left:2.5%;}
footer .m-gnb2 ul li{ font-size:3.3vw; margin-right:4%; }
}


@media (max-width:491px){
	/*첫번째 섹션*/
	.celep>h2{ font-size:34pt; font-family:DaunPenh; text-align:center; font-weight:500; letter-spacing:2px; line-height:29px; margin-bottom:20px;}
	.celep>h2 span{ font-size:4vw;}
	.celep article>img{ float:none; width:340px; height:402px; margin:0 auto 60px auto !important; display:table-cell;}
	
	.celep article .c_text{ float:none; width:318px; padding-top:0px;}
		.c_text>p{ font-size:11.5pt; font-weight:300; margin-bottom:30px; line-height:normal;}
		.c_text .big{ font-size:16pt; letter-spacing:1px;}
		.c_text .big2{ font-size:13pt; letter-spacing:2px; font-weight:300;}
		.c_text>hr{ width:300px; margin:0 auto; height:1px; background:#ccc; margin-bottom:29px;}
		
		.c_text ul{ width:100%; position:absolute; bottom:40px; }
		.c_text ul li{ float:left; margin-left:10px; }
		.c_text ul li:first-child{ margin-left:0;}
		.c_text ul li a{ color:#1c4baa; font-weight:500; font-size:12px;}
		
	/*두번째 섹션*/
	.j_title .j_collection{ font-family:DaunPenh; font-size:34pt; letter-spacing:7px; margin-right:0.5%;}
	.j_title p { font-size:13pt;}
	
	/*세번째 섹션*/
	.R_box{ width:83%;}
	.recommend h2{ font-size:34pt;}
	
	/*네번째 섹션*/
	.collection{ width:100%; height:3250px; padding-top:150px;}
	.collection h2{ font-size:34pt;}
	.collect_box{ width:70%; height:auto; margin:0 auto;}
	
	.collect_box article{ width:100%; height:100%; margin-right:0%; float:none;}

	.collect_text{ height:200px; }
	.collect_text p{ font-size:12pt; }
	.collect_text .name{ font-size:14pt; margin-bottom:0;}
	
	/*다섯번째 섹션*/
	.sns{ height:740px;}
	.sns .sns_h2{ width:100%; margin:0 auto; margin-bottom:10px;}
	.sns article{ width:95%;}
	.sns article>img{ float:left; width:15%; margin-right:5%; }
	
	.sns .sns_text{ float:left; line-height:2}
	.sns .sns_text .sns_name{ font-size:4vw;}
	.sns .sns_text .sns_follow{ font-size:10pt; float:left; margin-right:4%; margin-bottom:5px;} 
	.sns .sns_text .info{ clear:left;}
	.sns .sns_text p{ font-size:3vw;}
	.sns .sns_text a{color:#06C;  font-size:3vw;}
	
	
/*footer*/
	footer{border-top:1px solid #ccc;}
	footer .gnb2{ display:none;}
		
	.f_box{ width:100%;}
		.f_box article p{ font-size:3vw;}
		.f_box article{ box-sizing:border-box; }
		.f_box .arti_1{ border-right:1px solid #ccc; margin:0; padding-left:5%; padding-right:4%; box-sizing:border-box;}
		.f_box .arti_2{ padding-left:5%; box-sizing:border-box; margin:0;}
		.f_box .arti_5{ width:90%;}
		.f_box .arti_5 p{ font-size:2vw;}
		
		.f_copy2{ margin-top:20px;}
		.f_logo{ width:150px;}
		
	.f_box strong{ font-size:3.7vw; margin-bottom:5px; color:#ff6072;}
	.f_copy{ display:none;}
}

@media (max-width:370px){
	/*첫번째 섹션*/
	.celep article>img{ float:none; width:auto; height:300px; margin:0 auto 60px auto !important; display:table-cell;}
	
	.celep article .c_text{ float:none; width:318px; padding-top:0px;}
		.c_text>p{ font-size:10pt; font-weight:300; margin-bottom:30px; line-height:normal;}
		.c_text .big{ font-size:14pt; letter-spacing:1px;}
		.c_text .big2{ font-size:12pt; letter-spacing:2px; font-weight:300;}
		.c_text>hr{ width:300px; margin:0 auto; height:1px; background:#ccc; margin-bottom:29px;}
		
	.c_text ul{ width:89%; position:absolute; bottom:80px;  text-align:center;  padding-left:4%;}
	.c_text ul li a{ font-size:3vw; letter-spacing:0;}
	
	/*두번째 섹션*/
	.j_title{ margin-bottom:80px;}
	.j_title .j_collection{ font-size:30pt;}
	.j_ul{ width:270px;}
		.j_ul li{ width:100%; height:270px; margin-right:30px; margin-bottom:60px !important;}
		.j_ul li a .text_box{ font-size:13px; bottom:30px;}
		
	/*개별 크기 조정*/
	.j_ul li:nth-child(1){ padding-top:9%;}
	.j_ul li:nth-child(1) a img{ width:90%; }
	
	.j_ul li:nth-child(2){ padding-top:22%; }
	.j_ul li:nth-child(2) a img{ width:78%;}
	
	.j_ul li:nth-child(3){ padding-top:22%;}
	.j_ul li:nth-child(3) a img{ width:78%;}
	
	.j_ul li:nth-child(4) a img{ position:absolute; top:-100px; left:50%; margin-left:-35%; width:74%;}
	
	.j_ul li:nth-child(5) a img{ width:32%;}
	
	/*세번째 섹션*/
	.recommend h2{ font-size:30pt;}
	
	
	/*네번째 섹션*/
	.collection{ padding-top:120px; box-sizing:border-box; position:relative; height:2700px;}
	.collection h2{ font-size:30pt;}
	
	.collect_box article:nth-child(1) .collect_text br,
	.collect_box article:nth-child(3) .collect_text br{ display:none;}
	
	.collect_text{ height:200px; }
	.collect_text p{ font-size:10pt; }
	.collect_text .name{ font-size:12pt; margin-bottom:0;}
	

	}



